/* *{
  border: 1px solid red;
} */

/* LANDING */
.logo{
  position: fixed;
  padding: 1rem 3rem;
  color:rgba(87, 196, 77, 1);
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;
}
.landing{
  margin-right: 6rem;
  height: 100vh;
  background-image: url(../src/assets/nike1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden; */
  object-position: 50% 50%;

  /* width: 100vw; */
  /* object-fit:cover; */

}

/* .landing img{
  object-fit:cover;
  object-position: 50% 50%;
  max-width:100%;
  height:100vh;
} */

/* NAV */
.verticalNav{
  display: flex;
  flex-direction: column;
  /* transform: rotate(90deg); */
  height: 90vh;
  margin: 2rem;
  margin-left: 95%;
  position: fixed;
  justify-content: space-between;
  background-color: white;
  border-radius: 25px;
}

.nav a{
  text-align:center;
  transform: rotate(90deg);
  padding: .2rem .4rem;
  margin-top: 4rem;
  color: rgba(87, 196, 77, 1);
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  border: solid 1px transparent;
  /* margin-bottom: 4rem; */
}

.nav a:hover{
  border: solid 1px rgba(87, 196, 77, 1);
  border-radius: 25px;
}

.nav{
  margin-bottom: 15rem;
}

.cart img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

/* GRID */
.gridSection{
  height: 100vh;
}

.boxContainer{
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.boxContainer div{
  width: 300px;
  height: 300px;
  background-color: grey;
  margin: 1rem;
}

/* CAROUSEL STYLING */
.wrapper{
  margin: 4.5rem 6rem 2rem 3rem;
  height: 700px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.item img{
  object-fit: cover;
  height: 700px;
  /* min-width: 30rem; */
  margin-right: 1rem; 
  /* border: solid 1px black; */
}

.imageInfo div {
  margin: 70% 2rem 2rem 2rem;
  width: 500px;
}

.item {
  margin-right: 1200px; 
}

.wrapper .item{
  /* width: 600px; */
  height: 700px;
  /* line-height: 110px; */
  /* text-align: center; */
  /* background-color: lightgrey; */
  margin-right: 12px; 
  /* object-fit: cover; */
}

/* MARQUEE */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}


.marquee__wrapper {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 6rem 1rem 0;
  padding: .6rem;
  color:white;
  background-color: black;
  
  /* //Following styles not required */
  /* font-family: Arial; */
  font-size: 1rem;
  /* font-weight: bold; */
  text-transform: uppercase;
}

.marquee {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.marquee__inner-wrapper {
  /* //Animation duration needs to be twice as fast as the one below */
  animation: marquee 2.5s linear infinite reverse;
  animation-play-state: paused;

  .scrolling-up & {
    animation-play-state: running;
  }
}

.marquee__inner {
  animation: marquee 5s linear infinite;
  
  /* //Spacing between marquee elements */
  padding-right: 40px;
}

/* SPLIT SCREEN */
.split{
  padding: 4rem 9rem 9rem 9rem;
  margin: 0 auto;
}

.splitContainer{
  display: flex;
  /* justify-content: space-between; */
  /* width: 60%; */
}

.splitLeft{
  background-image: url(./assets/waves.jpg);
}

.splitRight{
  background-image: url(./assets/flowers.jpg);
  background-position: center;
}

.splitLeft, .splitRight{
  padding: 3rem;
  margin-right: 5rem;
}

.splitLeft img,.splitRight img{
  object-fit: cover;
  width: 30rem;
  /* height: 30rem; */
}

.splitContentContainer h1{
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

/* NEWS LETTER */
.newsletterSection{
  height: 300px;
  margin-right: 6rem;
  background-color: black;
  color: white;
}

/* INSTAGRAM FEED */
.instagramSection{
  height: 14.6rem;
  margin-right: 6rem;
  overflow: hidden;
  /* background-color: aqua; */
}

.instagramSection p{
  
  margin: 0 0 .3rem 1rem;
}

.instagramContainer{
  display: flex;
}

.instagramContainer div{
  min-height: 13rem;
  min-width: 13rem;
  margin-right: 1.5px;
  background-color: rgb(243, 243, 243);
}

/* FOOTER */
.footer{
  display: flex;
  justify-content: center;
  /* margin: 0 6rem 0 0; */
  padding: .4rem;
  background-color: black;
  color: white;
}

.footer p{
  margin: .2rem 2rem .5rem 0;
  text-transform: uppercase;
  font-size: .6rem;
}

/* PRODUCT VIEW */
.productView{
  display:flex;
}

.productLeft{
  height: 100vh;
  overflow: hidden;
}

.productLeft img{
  object-fit: cover;
}

.productRight img{
  height: 45rem;
}

.productInfo{
  margin: 0 5rem;
}

.productInfo h1, .productInfo p{
  text-transform: uppercase;
  margin: 0;
}

.description{
  margin-bottom: 1rem;
}

.select{
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.sizes{
  display: flex;
  margin-bottom: 1rem;
}

.sizes div{
  height: 2rem;
  width:2rem;
  border-radius: 50%;
}

.sizes div:hover{
  border: solid 1px black;
}

.sizes p{
  margin-right: 2rem;
  padding: .4rem;
  text-align: center;
}



.add{
  font-weight: bold;
}

